.cellCustomerRow1 td
{
    margin-left: 1%;
    margin-left: 1%;
}
td.rowMargin
{
    margin-bottom: 10px;
}
td.alignRight
{
    text-align: right;
}

#leftColumn
{
    float: left;
    margin-left: 20px;
    width: 150px;
    text-align: right;
    margin-top: 4%;
}
#rightColumn
{
    height: 550px;
    width: 1000px;
    float: left;
    background: url("images/rightColumnFields.png") transparent no-repeat;
    background-size: 100%;
    margin-top: 1%;
}
#leftColumn ul li
{
    list-style: none;
    height: 50px;
    text-align: right;
    padding-right: 8px;
}
#CustomerSearchListView
{
    width: 750px;
}
li.inActiveTab:hover
{
    background: url("images/tabActive.png") no-repeat transparent;
    color: #ffffff;
}
li.inActiveTab
{
    background: url("images/tabInactive.png") no-repeat transparent;
    color: #45638B;
}
.current
{
    background: url("images/tabActive.png") no-repeat transparent;
    color: #ffffff;
}
#wrapper
{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
#header
{
    width: 100%;
    height: 40px;
}
#header img
{
    width: 100%;
    height: 75%;
    min-width: 1024px;
    opacity: .6;
    filter: alpha(opacity = 50);
}
#customerInfo
{
    background: url("images/customerDivBg.png") no-repeat transparent;
    height: 400px;
    width: 800px;
    float: left;
    margin-left: 15px;
    padding-left: 20px;
    padding-top: 15px;
    margin-bottom: 30px;
}
#productSelect
{
    background: url("images/customerDivBg.png") no-repeat transparent;
    height: 400px;
    width: 800px;
    float: left;
    margin-left: 15px;
    padding-left: 20px;
    padding-top: 15px;
    margin-bottom: 30px;
}
#rightColumnPanel
{
    float: right;
    width: 150px;
    height: 500px;
    background: url("images/rightColumnPanel.png") no-repeat transparent;
    margin-top: 30px;
    margin-right: 15px;
    margin-bottom: 30px;
}
.centered
{
    margin-top: 30px;
    margin-left: 25%;
    margin-bottom: 30px;
    float: left;
}
.marginTop50
{
    margin-top: 50px;
}
img.bg
{
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px; /* Set up proportionate scaling */
    width: 100%;
    height: auto; /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

@media screen and (max-width: 1024px)
{
    /* Specific to this particular image */
    img.bg
    {
        left: 50%;
        margin-left: -512px; /* 50% */
    }
}
.centerPicture
{
    width: 60%;
    min-width: 500px;
    margin-left: 20%;
    margin-right: 20%;
    float: left;
}
.loginDiv
{
    margin-left: 40%;
    float: left;
}
.textAlignCenter
{
    text-align: center;
}
#customerSearchGrid
{
    margin-top: 30px;
    margin-left: 30px;
    width: 720px;
}